<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>

<div class="container ">
  <div class="z-depth-1 grey lighten-4 row " >

    <form class="col s12" (ngSubmit)="autentica()">


      <div class='row'>
        <div class='input-field col s12'>
          <input class='validate' type='email' name='email' id='email' [(ngModel)]="user.username" />
          <label for='email'></label>
        </div>
      </div>

      <div class='row'>
        <div class='input-field col s12'>
          <input class='validate' type='password' name='password' id='password' [(ngModel)]="user.password" />
          <label for='password'></label>
        </div>
        <label style='float: right;'>
          <a class='pink-text' href='#!'><b>Forgot Password?</b></a>
        </label>
      </div>

      <div class='row'>
        <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
      </div>

    </form>
  </div>
</div>