<table class="table highlight">
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>E-mail</th>
    <th>Telefone</th>
    <th>CPF</th>
    <th></th>
  </tr>
  <tr *ngFor="let cliente of clientes">
    <td>{{ cliente.id }}</td>
    <td>{{ cliente.nome }}</td>
    <td>{{ cliente.email }}</td>
    <td>{{ cliente.telefone }}</td>
    <td>{{ cliente.cpf }}</td>
    <td>
      <a class="waves-effect waves-light btn-large" routerLink="/clientes/edita/{{ cliente.id }}"><i class="material-icons"></i>Editar</a>
      &nbsp;<a class="waves-effect waves-light btn-large" (click)="exclui(cliente)"><i class="material-icons"></i>Excluir</a>
    </td>
    </tr>
  <br>
  <br>
  <br>
  <button class="waves-effect waves-light btn-large" routerLink="/cliente">Adicionar</button>
</table>

